.hero {
    align-items: center;
    background-image: url("../images/hero-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    min-height: 80vh;
}

#hero-img {
    background-color: rgb(51, 158, 255);
    -webkit-mask: url("../images/hero.svg") no-repeat center;
    -webkit-mask-size: contain;
    position: relative;
    height: 40vh;
    width: 70%;
}
