:root {
    --clip-height: 48px;
    scroll-behavior: smooth;
}

body{
    background-image: url("../images/hero-bg.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.hero {
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
    left: 0;
    min-height: 80vh;
    width: 100%;
}

.hero div {
    text-align: center;
    width: 70%;
}

.hero div h2 {
    margin-top: 0;
}

#hero-img {
    height: 27vh;
    width: 100%;
}

#hero-img-g {
    fill: var(--theme-color);
}

main {
    color: white;
    margin-top: calc(-1 * var(--clip-height));
    z-index: 1;
}

section {
    --upper-padding: calc(var(--clip-height) * 0.5 + 36px);
    padding: var(--upper-padding);
    padding-bottom: calc(var(--upper-padding) + 16px);
    margin: auto;
    max-width:1250px;
}

section:nth-child(odd) {
    background-color: var(--theme-color);
    clip-path: polygon(
            0 0,
            100% var(--clip-height),
            100% 100%,
            0 calc(100% - var(--clip-height)));
}

section:nth-child(odd) a[href] {
    color: black;
}

section h1 {
    margin-top: 0;
}

@media screen and (min-width: 960px) {
    section {
        padding-left: 128px;
        padding-right: 128px;
    }
}

@keyframes flow {
    from {
        stroke-width: 0;
        fill: transparent;
    }
    75% {
        fill: transparent;
    }
    to {
        fill: var(--theme-color);
        stroke-dashoffset: 0;
        stroke-width: 50;
    }
}

path {
    animation: flow 3s linear forwards;
    stroke: var(--theme-color);
}

#schedule table {
    width: 100%;
}

#schedule table td,
#schedule table th {
    border-bottom: thin solid #DDDDDD;
    padding:12px;
    min-width:50px;
}

#schedule td:nth-child(odd){
    white-space: nowrap;
}

#schedule table th {
    font-weight: bold;
}

#gmap_canvas{
    border: none;
    height: 500px;
    width: 100%;
}

#sponsorLogos{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content: center;
}

.shawee{
    /*filter: brightness(0.75);*/
}

.sponsorLogo {
    width: 250px;
    margin:16px;
}