* {
    box-sizing: border-box;
}

:root {
    --dark-bg: darkgrey;
    --theme-color: rgb(51, 158, 255);
}

html {
    margin: 0;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    line-height: 1.7em;
}

header {
    align-items: center;
    display: flex;
    left: 0;
    padding: 16px 24px 18px;
    position: fixed;
    top: 0;
    /*transition: background-color 1s;*/
    width: 100%;
    z-index: 2;
    background-color:#000000AA;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    height:75px;
}

header :first-child {
    /*Push all other elements to the far right of the header*/
    flex-grow: 1;
}

header #menu-activate {
    /*Account for the logo not being vertically centered around the text*/
    margin-top: 4px;
}

header img:first-of-type {
    height: 40px;
}

#menu-activate {
    background: transparent;
    border: none;
    color: gray;
    font-size: 1.5em;
}

p {
    line-height: 2em;
}

a[href] {
    color: var(--theme-color);
    text-decoration: none;
}

a[href]:hover {
    color: white !important;
}

nav ul {
    list-style-type: none;
    margin-left: 0;
}

#menu-activate{
    z-index:4;
}

@media screen and (max-width: 959px) {
    nav {
        background: black;
        height: 100vh;
        display:none;
        margin-top: 0 !important;
        top: 0;
        position: fixed;
        transition: left 500ms;
        min-width: 200px;
        width: 60vw;
    }

    nav ul li {
        padding: 8px;
    }

    nav.open {
        display:block;
        right: 0;
        z-index: 3;
    }

    .blackout {
        left: 0;
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: #00000088;
        z-index: 1;
        visibility: hidden;
    }
}

@media screen and (min-width: 960px) {
    header nav {
        display: block;
    }

    nav ul li {
        display: inline-block;
        text-transform: uppercase;
    }

    nav ul li a {
        color: gray !important;
        font-weight: bold;
        padding: 0 8px;
        text-decoration: none;
        transition: color 500ms;
    }

    nav ul li a:hover {
        color: white !important;
    }

    #menu-activate {
        display: none;
    }

    header img:first-of-type {
        visibility: visible;
    }

    header :not(:first-child) {
        /*Account for the logo not being vertically centered around the text*/
        margin-top: 2px;
    }
}
